<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.portalperfect.adminapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/adminicon"
        android:label="Admin Achievers Academy "
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginScreen" />
        <activity
            android:name=".HomeScreen"
            android:label="@string/title_activity_home_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RegisterStudent" />
        <activity android:name=".ViewAllStudents" />
        <activity
            android:name=".AttendanceManagement"
            android:label="@string/title_activity_attendance_management"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ResultManagement"
            android:label="@string/title_activity_result_management"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GoalManagement"
            android:label="@string/title_activity_goal_management"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EmployeeMaagement"
            android:label="@string/title_activity_employee_maagement"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FeeManagement"
            android:label="@string/title_activity_fee_management"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Result_add_Group"
            android:label="Add New Group"></activity>
        <activity
            android:name=".Result_View_Groups"
            android:label="View All Groups"></activity>
        <activity android:name=".AddNewStudent" />
        <activity
            android:name=".StudentDetails"
            android:label="@string/title_activity_student_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddResultsPage"
            android:label="Add Results"></activity>
        <activity
            android:name=".ViewPreviousResults"
            android:label="Previous Results"></activity>
        <activity android:name=".View_Previous_subject_marks" />
        <activity
            android:name=".SetGoal"
            android:label="Set New Goal"></activity>
        <activity
            android:name=".AddNewsLetter"
            android:label="News Letters"></activity>
        <activity android:name=".ExportFiles" />
        <activity
            android:name=".DeleteStudents"
            android:label="Edit this List"></activity>
        <activity android:name=".Webview" />
        <activity
            android:name=".UploadVLink"
            android:label="Upload Videos"></activity>
        <activity
            android:name=".AddAttendance"
            android:label="Attendance Management"></activity>
        <activity
            android:name=".ViewAllNews"
            android:label="All Videos"></activity>
        <activity android:name=".AttendanceDates" />
        <activity
            android:name=".StudentManagement"
            android:label="@string/title_activity_student_management"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>